@charset "utf-8";
/* Coffeebuzz chapter 8 CSS Document */

/********************************* GENERAL RULES ****************************/
/* Apply a natural box layout model to all elements  */
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	background:url(../img/bg.jpg) no-repeat center center fixed;
	background-size: cover; /* the background image will scale
	                           to cover the entire content area
	                           keeping the aspect-ratio */
}

body{
	font-family: 'Capriola',Verdana,Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin:0;
	padding:0;
	width:100%;
}

/*
Pseudo-classes for anchor <a> tag:
1. a:link 
2. a:visited
3. a:focus
4. a:hover
5. a:active

Note:  Must be in this order, but it's ok to omit one or more
*/

a:link{
	color:#300;
}

a:visited{
	color:#b64429;
}


/*********************************** HEADER *********************************/
header{
	color:#FFFFFF;
	text-align: center;
	padding:1rem 2%;
	/*
	   REM vs. EM
	   rem:  relative to font-size of root element
	
	   While em is relative to the font size of its direct or nearest parent, rem
	   is relative to the html (root) font-size.
	   
	*/
}

header h1{
	margin:0;
	text-shadow: -2px -2px 4px #000;
	font-family: 'Aldrich', sans-serif;
	/*font-size: 5em;*/
}

/********************************** NAVIGATION ******************************/
nav ul{
	list-style: none; /* remove the default bullets */
	margin:0; /* remove the default margin and padding*/
	padding:0;
	/*text-align: center;*/
}

nav ul li{
	float:left;
	width:25%;
	background:rgba(255,255,255,0.9);
	border-right:1px solid rgba(103,76,55,0.3);
}

nav ul li:last-child{
	/*remove last border from li */
	border-right:none;
}

nav ul li a{
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	display: block;
	text-align: center;
	padding:.5em 0;
	transition: background 0.75s ease,color 0.75s ease;
}

nav ul li.active a, nav ul li a:hover{
	color:#593620;
	background: rgba(103,76,55,0.3);
	
}

/* DROPDOWN MENU */
nav ul ul{
	display:none; /* Don't display submenu until hover */
	position: absolute;
	width:25%;
	/*top:2em;*/
	
}

nav ul li:hover ul{
	display:block;
	
}

nav ul ul li{
	width:100%; /* size the dropdown to full size of parent (25%) */
	border:none;
}

/*
nav ul li.active a{
	color:#593620;
	background: rgba(103,76,55,0.3);
}
*/
/********************************** MAIN SECTION ***************************/
main{
	padding: 0 .45rem;
	}

section{
	background: rgba(255,255,255,0.80);
	padding: 1rem;
	margin-top:1rem;
}

section h2{
	text-align: center;
}

section hr{
	max-width: 300px;
	border: 1px solid #c8c8c8;
}

#splash img{
	max-width: 100%;/* RWD:  Image will scale down if it has to, but 
		              will never scale up to be larger than its original
		             size
		
					If the width propery is set to 100%, the image will
		            be responsive and scale up and down
					*/
	border: 1px dashed #463d2b;
	padding:0.25em;
}

/* Chapter 6:  2 Column Layout */

/* mwilliams:  converted to mobile first RWD in media query below */
/*#content-wrapper{
	width:80%;
	float: left;
}

aside{
	width: 20%;
	float: left;
	margin-top:1rem;
}*/

aside ul{
	margin:0 0.25rem;
	/*margin-top:1rem;*/
	list-style: none;
	padding:0;
}

aside ul li{	
	color:#593620;
	background-color: #fff;
	margin-bottom: .4rem;
	padding:.5rem;
}

aside ul li a{
	text-decoration: none;
}

aside ul li a:focus{
	font-weight: bold;

}

aside ul li.active,aside ul li:hover{
	font-weight: bold;
background: -webkit-linear-gradient(left, #ffffff 0%, #d6bb84 100%);
background: -o-linear-gradient(left, #ffffff 0%, #d6bb84 100%);
background: linear-gradient(to right, #ffffff 0%, #d6bb84 100%);
}


aside ul li:first-child{
	text-transform: uppercase;
	text-align: center;
	line-height: 42px;
	font-weight: bold;
	background:#fff;
}

/********************************** SIDEBAR ******************************/




/******************************* FOOTER **********************************/
footer{
	background:rgba(0,0,0,0.5);
	height:50px;
	font-size:75%;
	/*Chapter 6: layout - must clear the floated elements */
	/*clear:both;*/
}

footer p{
	color:#fff;
	text-align: center;
	padding-top:1.5em;
}

/********************************** SPECIAL ******************************/
.row::after{
	/* row:  Force an element not to collapse */
	content:"";
	clear:both;
	display:table;
}


.promo{
	background: #fff;
	text-align: center;
	padding: 1rem;
	margin: 0 .25rem;
}

.promo h3{
	color: #541800;
}

/* RWD promo images */
.promo img{
	max-width: 100%;
}

.container{

}

.special-box{
	/*float:left;
	width:24%;*/
	text-align: center;
	border:1px dashed #000;
	margin:.25em;
	/*box-sizing: content-box;*/
	background:#fff;	
}

.special img{
	width:75%;
	-webkit-transition:2s;
	transition: 2s;	
}

.special img:hover{
	/*-webkit-filter:grayscale(80%);*/
	filter:grayscale(80%);
	
	/*-webkit-transform: scale(0.9,0.9);*/
	transform: scale(0.9,0.9);
	
}

.special-box h4{
	color:#541800;
}

.special-box p{
	color:#e24444;
}

.special h2::before{
	background:url(../img/sale.png) no-repeat;
	padding: 0 1rem;
	content: " ";
}

.special h2::after{
	background:url(../img/sale.png) no-repeat;
	padding: 0 1rem;
	content: " ";
}

.text-center{text-align:center}

/* Chapter 9:  Thumbnails */
.thumbnail{
	display:block;
	margin:.15rem;
	padding:.5rem;
	background:#fff;
	border:1px solid #ddd;
	border-radius:5px;
}

.thumbnail>img{
	width:100%;
}


.menu{
	transition:2s
}

.menu:hover{
	/*-ms-transform:scale(0.9,0.9);*/ /* IE9 */
	/*-webkit-transform:scale(0.9,0.9);*/ /* Safari */
	transform:scale(0.9,0.9); /*Standard syntax*/
}

.center{
	text-align:center;
}


.img-responsive{
	max-width: 100%;
	display:block;
	height: auto;
}

/* =============== CHAPTER 10 TABLES ========================= */
#careers{
	overflow-x: auto;
}
/* table formatting */
#careers table{
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	max-width: 100%;
	margin-bottom: 1.25rem;
	border:1px solid #654026;
	
}

/* table thead formatting */
#careers table thead{
	background-color: rgb(77,45,34);
	color:#fff;	
}

/* table cells formatting */
#careers table tbody tr td,#careers table tbody tr th{
	border: 1px solid #654026;
	padding:0.25rem;
	line-height: 1.4rem;
	vertical-align: top;/*noticeable when table is shrunk*/
}

/* Table striping effect */
/*rows 2, 4 within the tbody of the table (not in the thead) */
#careers table tbody tr:nth-child(even){
	background-color: #ddd;
}

/*rows 1, 3, and 5 within the tbody of the table (not in the thead) */
#careers table tbody tr:nth-child(odd){
	background-color: #fff;
}

/* YES / NO columns for Moncton and Saint-John */
#careers table tbody tr td:nth-child(4),
#careers table tbody tr td:nth-child(5){
	text-align: center;
	color:#d9534f;
}

/* table hover effect */
#careers table tbody tr:hover{
	background-color:rgba(0,0,0,0.4);
	color:#fff;
}


/*============== CHAPTER 11:  FORMS ========================*/

/* Job Application Form */
label{
	float:left;
	width:100%;
	font-weight: bold;
	margin-right:1rem;
	color:#825539;
}

input[type=text],input[type=email],input[type=tel],select, #availableDate{
	display:block;
	width:100%;
	height: 2rem;
	color:#555;
	background-color:#fff;
	padding: .375rem .75rem;
	border-radius:4px;
	border:1px solid #ccc;
}

fieldset /*remove the fieldset formatting*/
{
	margin:0;
	padding: .35em 0 .75em;
	border:0;
}
legend{
	display:block;
	width:100%;
	padding: .3em 0;
	margin-bottom:.3em;
	color:#4d2d22;
	border-bottom:2px solid #c8c8c8;
	font-size:1.2em;
	font-weight: bold;		
}

.checkbox-label label{
	font-weight: normal; /*remove bold */
	color:inherit; /* inherit color from parent -black*/
}

.checkbox-label label:last-child{
	margin-bottom:1em;
}

#heardAbout{ /*heard about select list */
	height:auto;
}

/*input[type=date]*/
#availableDate, #heardAbout{
	width: 16em;
}

/* submit button */
input[type=submit]{
	width:100%;
	background-color:#4caf50;
	color:#fff;
	padding:14px 20px;
	margin:8px 0;
	border:none;
	border-radius:4px;
	cursor:pointer;
}

input[type=submit]:hover{
	background-color:#45a049;
}

/*================= CHAPTER 12:  VIDEOS ======================*/

/*Responsive videos */
.flex-video{
	position: relative;
	padding-top:25px;
	padding-bottom: 67.5%;
	height:0;
	margin-bottom:16px;
	/*overflow: hidden;*/
}

.flex-video.widescreen{
	padding-bottom:60%;
}
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video{
	position: absolute;
	top:0;
	left:0;
	width:98%;
	height: 100%
}


/***************** chapter 14 *******************/
.products {
	margin-top:1rem;
}
.products img{
	max-width: 100%;
}

.product-item{
	border:4px solid rgba(196,196,196,1.00);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px #fff, 0 0 8px #c8cfe6;
	-moz-box-shadow: inset 0 1px #fff, 0 0 8px #c8cfe6;
	box-shadow: inset 0 1px #fff, 0 0 8px #c8cfe6;
	-o-transition:all .75s ease;
	-moz-transition:all .75s ease;
	-webkit-transition: all .75s ease;
	transition: all .75s ease;	
	position:relative;	
	background-color:#fff;
}

.product-item:hover{
	border: 4px solid #8a4e29;
	position:relative;
}

.product-item .product-image img{
	padding:1em;
	-o-transition:all .75s ease;
	-moz-transition:all .75s ease;
	-webkit-transition: all .75s ease;
	transition: all .75s ease;
	
}

.product-item:hover .product-image img{
	/*position:relative;*/
	transform: scale(1.1) rotate(5deg) ;
	/*opacity: 0.5;
	  -webkit-filter: grayscale(80%);
     filter: grayscale(80%);*/
}

.product-item ul{
	list-style-type:none;
/*	margin-left:0;
	margin-top:20px;*/
	padding:0;
	
}

.product-item ul li{
	line-height:2rem;
}


.product-info-fade{
	opacity:0;
	position:absolute;
	top:0;
	background:#000;
	background:rgba(0,0,0,0.7);
	color:#fff;
	width:100%;
	height:100%;	
	transition: opacity .25s linear;	
}

.product-item:hover  .product-info-fade{
	opacity:1;	
}

.product-info-fade ul li:first-child{
	text-transform:uppercase;
	font-size:1.3em;
}

.product-info-fade ul li:last-child{
	font-weight:bold;
}

.product-info-fade ul li:last-child span:after{
		font-family:FontAwesome;
		content:"\f02b";
}


/* end product styles */

/*** end chapter 14 ***/


/* =============== CHAPTER 8 : RWD =========================== */
/* 
	https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints
	https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries

 */
	/*
	Use a responsive grid-view with 12 columns, to have more control over the web page.
	Typically:
	----------
	First we must calculate the percentage for one column: 100% / 12 columns = 8.333333%.
	Then we make one class for each of the 12 columns, class="col-" and a number defining how many columns the section should span.
*/

/* Grid columns for mobile phones:
   Everything floats left - then overrides the width accordingly
   */
[class*="col-"]{
	float:left;
	width:100%
}
@media (min-width:320px){  /* smartphones portrait iphone 
	                          when browser screen above 320*/
	aside {margin-top:1em;}
}


@media (min-width:480px) { /* smartphones, landscape iPhone, 
	                        when browser screen above 480 */
		.col-sm-1 {width: 8.333333%;}
		.col-sm-2 {width: 16.666667%;}
		.col-sm-3 {width: 25%;}
		.col-sm-4 {width: 33.333333%;}
		.col-sm-5 {width: 41.666667%;}
		.col-sm-6 {width: 50%;}
		.col-sm-7 {width: 58.333333%;}
		.col-sm-8 {width: 66.666667%;}
		.col-sm-9 {width: 75%;}
		.col-sm-10 {width: 83.333333%;}
		.col-sm-11 {width: 91.666667%;}
		.col-sm-12 {width: 100%;}
	}



@media (min-width:600px) { /**/
	
	header h1{
		font-size:4em;
	}
		.col-sm-1 {width: 8.333333%;}
		.col-sm-2 {width: 16.666667%;}
		.col-sm-3 {width: 25%;}
		.col-sm-4 {width: 33.333333%;}
		.col-sm-5 {width: 41.666667%;}
		.col-sm-6 {width: 50%;}
		.col-sm-7 {width: 58.333333%;}
		.col-sm-8 {width: 66.666667%;}
		.col-sm-9 {width: 75%;}
		.col-sm-10 {width: 83.333333%;}
		.col-sm-11 {width: 91.666667%;}
		.col-sm-12 {width: 100%;}	
	}

@media (min-width:800px) { /* tablet, landscape iPad, lo-res desktop/laptop*/ 
		.col-m-1 {width: 8.333333%;}
		.col-m-2 {width: 16.666667%;}
		.col-m-3 {width: 25%;}
		.col-m-4 {width: 33.333333%;}
		.col-m-5 {width: 41.666667%;}
		.col-m-6 {width: 50%;}
		.col-m-7 {width: 58.333333%;}
		.col-m-8 {width: 66.666667%;}
		.col-m-9 {width: 75%;}
		.col-m-10 {width: 83.333333%;}
		.col-m-11 {width: 91.666667%;}
		.col-m-12 {width: 100%;}
	}

@media (min-width:1024px){
	#content-wrapper{
		width:80%;
		float: left;
	}

	aside{
		width: 20%;
		float: left;
		margin-top:1rem;
	}	
	/* big landscape tablet, desktop/laptop */
		.col-l-1 {width: 8.333333%;}
		.col-l-2 {width: 16.666667%;}
		.col-l-3 {width: 25%;}
		.col-l-4 {width: 33.333333%;}
		.col-l-5 {width: 41.666667%;}
		.col-l-6 {width: 50%;}
		.col-l-7 {width: 58.333333%;}
		.col-l-8 {width: 66.666667%;}
		.col-l-9 {width: 75%;}
		.col-l-10 {width: 83.333333%;}
		.col-l-11 {width: 91.666667%;}
		.col-l-12 {width: 100%;}
}
